.form-auth-container {
  margin-top: 80px;
}

.btn-auth {
  height: 50px;
  width: 150px;
  text-align: start !important;
  font-weight: bold;
}

.footer-auth-form {
  margin-top: 100px;
}

.text-muted-form {
  color: #a6a6a6;
}

.icon-auth-enter {
  margin-left: 20px;
}

.title-auth {
  margin-bottom: 40px;
  font-size: 60px;
  text-align: center;
}

.danger-text {
  color: #f14668;
  text-align: center;
  font-weight: bold !important;
}
