:root {
  --primary-bg: #f14668;
}

body {
  font-family: "Lato", sans-serif;
  background: #ebebeb !important;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

* {
  font-family: "Lato", sans-serif;
}

/*============== theme!======= */

.primary {
  background: var(--primary-bg) !important;
}

.acent {
  background: #1d2e4a !important;
}

.success {
  background: #48c774 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton", sans-serif;
}

.text-center {
  text-align: "center" !important;
}

.btn {
  border: none !important;
}
